- if (admin) {
	div.row
		div.span9
			button.btn.btn-success.btn-small.new(ng-click="new()") new
- }

- var post;
- for (var i = 0; i < posts.length; i+=3) {
	div.row
		- post = getBlogPostContent(posts[i], admin);
		- if(post) {
			div.span3
				a(href="#{createUri(posts[i]._id, post.heading)}") #{post.heading}
				- if (post.preview) {
					div Not published / dirty
				- }
		- }

		- post = getBlogPostContent(posts[i+1], admin);
		- if(post) {
			div.span3
				a(href="#{createUri(posts[i+1]._id, post.heading)}") #{post.heading}
				- if (post.preview) {
					div Not published / dirty
				- }
		- }

		- post = getBlogPostContent(posts[i+2], admin);
		- if(post) {
			div.span3
				a(href="#{createUri(posts[i+2]._id, post.heading)}") #{post.heading}
				- if (post.preview) {
					div Not published / dirty
				- }
		- }		
- }